<p id="notice"><%= notice %></p>

<h1>Serviços</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Fone</th>
      <th>Data de Inicio</th>
      <th>Data de Fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.email %></td>
        <td><%= servico.fone %></td>
        <td><%= servico.inicio %></td>
        <td><%= servico.fim %></td>
        <td><%= link_to 'Show', servico %></td>
        <td><%= link_to 'Edit', edit_servico_path(servico) %></td>
        <td><%= link_to 'Destroy', servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servico', new_servico_path %>
