</br>
<h2 class="text-center"> Serviços </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>Nome</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Fone</strong></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% @servicos.each do |servico| %>
            <tr>
                <td> <%=link_to servico.nome, servico%> </td>
                <td> <%= servico.email %> </td>
                <td> <%= servico.fone %> </td>
                <td> <%= link_to '', edit_servico_path(servico), class: 'btn btn-outline-primary fas fa-edit fa-sm',
                title: 'Editar serviço' %></td>
                <td> <%= link_to '', servico, method: :delete, class:"btn btn-outline-danger fas fa-trash-alt fa-sm", 
                title: 'Deletar serviço', data: { confirm: 'Tem certeza que deseja deletar o serviço?' } %> </td> 
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Novo', new_servico_path, class: 'btn btn-success float-right',
title: 'Registrar novo serviço' %>
