
<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @servico.email %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @servico.fone %>
</p>

<p>
  <strong>Data de Fim:</strong>
  <%= @servico.inicio %>
</p>

<p>
  <strong>Data de Fim:</strong>
  <%= @servico.fim %>
</p>

<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
