<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
   
    <body>
        <h1>Saudações!</h1> </br>
         Nome: <%=@servico.nome%> </br>
         Email: <%=@servico.email%> </br>
         Fone: <%=@servico.fone%> </br>
         Inicio: <%=@servico.inicio%> </br>
         Fim: <%=@servico.fim%> </br>
        </br>
        <p>Há um novo serviço. Acesse o <a href="https://ramon-taxi10.herokuapp.com/servicos" target="_blank" title="Serviços">link</a> para
        visualizar os serviços.</p>
    </body>
</html>