<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand ml-2 pt-1" href=<%= pagina_inicial_servicos_path %>> Home </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pt-1" id="navbarNav">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href=<%= new_servico_path %>> Novo Serviço </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href=<%= descricao_servicos_path %>> Passeios </a>
        </li>

        <% if user_signed_in? and current_user.admin %>
          <li class="nav-item dropdown">
          <a id="contratos-dropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Serviços
          </a>
          <div class="dropdown-menu bg-primary">
            <a class="dropdown-item" href=<%= servicos_path %>> Todos os serviços </a>
            <a class="dropdown-item" href=<%= ativos_servicos_path %>> Serviços ativos </a>
          </div>
        </li>
        <% end %>

    </ul>

    <div id="nav-logado" class="navbar-text">
      <% if user_signed_in? %>
        Logado: <strong><%= current_user.email %></strong>
        <%= link_to "", destroy_user_session_path, method: :delete, 
            class: 'fas fa-sign-out-alt fa-lg pl-3', title: 'Deslogar' %>
      <% else %>
        <%= link_to "Login", new_user_session_path%>
      <% end %>
    </div>

  </div>
</nav>